.about__container{
    display: flex;
    align-items: center;
}
.about__user{
    width: 40%;
    margin-top: 67px;
}
.about__content{
    flex: 1;
    color: rgba($text-color, 0.8);
}
.about__desc .about__info{
    font-weight: 600;
    line-height: 30px;
}
.about__desc{
    margin-bottom: 21px;
}
.about__info{
    margin-bottom: 77px;
}
.about__title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 31px;
    color: $text-color;
}
.about__ps{
    font-style: italic;
}