.menu{
    color: rgba($text-color, 0.6);
}
.menu--theme--white{
    color: $text-color;
}
.menu__list{
    display: flex;
}
.menu__item{
    margin-right: 60px;
    &:last-child{
        margin-right: 0;
    }
}
