.round-btn{
    border: $text-color solid 2px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    margin-right: 28px;
    &:last-child{
        margin-right: 0;
    }
}
.round-btn__icon{
    width: 17px;
    fill: $text-color;
}
.round-btn--prev{
        transform: rotate(180deg);
}