.skills{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 90px;
    width: 85%
}
.skills__item{
    margin-bottom: 55px;
    &:last-child{
        margin-bottom: ;
    }
}
.skills-row__title{
    font-size: 30px;
    font-weight: 700;
}
.skills-row__list{
    display: flex;
}