.square-btns{
    display: grid;
}
.square-btns__item{
    width: 37px;
    height: 37px;
    background-color: $darkBlue !important;
    &:hover{
        .square-btns__icon{
            fill: #fff;
        }
    }
    @include phones{
        width: 50px;
        height: 50px;
    }
}
.square-btns__item--prev{
    .square-btns__icon{
        transform: rotate(180deg);
    }
}
.square-btns__icon{
    width: 18px;
    fill: #717883;
}