.thumbs{
    display: flex;
    justify-content: flex-end;
    @include phones{
        display: none;
    }
}
.thumbs__item{
    width: 20.3%;
}
.thumbs__item_active .thumbs__link{
    border: 5px solid orange;
}
.thumbs__link{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
}
.thumbs__pic{
    width: 100%;
    height: 100%;
}