.user-display{
    display: flex;
    align-items: center;
}
.user-display__avatar{
    margin-right: 30px;
}
.user-display__avatar-style{
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.user-display__name{
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
}
.user-display__desc{
    opacity: 0.5;
}