.values{
    position: relative;
    background: url("~images/content/wood.png") no-repeat;
    background-size: cover;
    padding: 8% 0;
    &::before{
        position: absolute;
        content: url("~images/content/hands.png");
        top: 38%;
    }
}
.values__title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}