.works{
    background: #F2F2F2;
}
.works__container{
    padding: 10% 0;
    @include tablets{
        padding: 5% 0;
    }
}
.works__title{
    font-size: 36px;
    font-weight: 700;
    color: $darkBlue;
    margin-bottom: 6%;
    @include phones{
        text-align: center;
    }
}