script(type="text/x-template")#slider-container
  .slider
    .slider__header
      .slider__title Что обо мне говорят
      .slider__btns
        button(
          type="button" @click="slide('prev')"
        ).slider__btn.round-btn.round-btn--prev
          +icon('arrow-down', 'round-btn__icon')
        button(
          type="button" @click="slide('next')"
        ).slider__btn.round-btn.round-btn--next
          +icon('arrow-down', 'round-btn__icon')
    swiper(ref="slider" :options="sliderOptions")
      swiper-slide(v-for="review in reviews" :key="review.id")
        .review
          .review__text
            p {{review.text}}
          .review__user
            .user-display
              .user-display__avatar
                .user-display__avatar-style
                  img(:src="review.pic").user-display__pic
              .user-display__data
                .user-display__name {{review.name}}
                .user-display__occ {{review.occ}}
              