script(type="text/x-template")#skills-list
    - 
        var skillsCategories = [
            ["Frontend", ["HTML", "CSS", "Javascript", "Vue"]],
            ["Workflow", ["Git", "Terminal", "Gulp", "Webpack"]],
        ];
    ul.skills 
        each category in skillsCategories
            li.skills__item
                .skills-row
                    .skills-row__title #{category[0]}
                    ul.skills-row__list 
                        each skill in category[1]
                            li.skills-row__item 
                                .skill 
                                    svg(viewBox="0 0 100 100").skill__circle-shape
                                        circle(cx="50" cy="50" r="40").skill__circle.skill__circle--layer--under
                                        circle(cx="50" cy="50" r="40" stroke="url(#gradient)").skill__circle.skill__circle--layer--above
                                        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                                            stop(offset="0%" stop-color="#D0731B")
                                            stop(offset="100%" stop-color="#DC9322")
                                    .skill__title #{skill}

script(type="text/x-template")#skills-row

script(type="text/x-template")#skills-item